.header {
  width: 100%;
  max-width: 26.875rem; 
  min-width: 20rem;  
  height: 4.375rem;
  margin: 0 auto;
  background: linear-gradient(180deg, #75B6FB 0%, #FDFDFD 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1rem;
}

.header .icon.alarm {
  position: absolute;
  left: 1rem;
}

.header .icon.search {
  position: absolute;
  right: 1rem;
}

.icon {
  width: 1.625rem;
  height: 1.625rem;
  cursor: pointer;
}

.logo {
  height: 2.375rem;
  object-fit: contain;
}
